@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{  
  font-family: "Outfit", sans-serif;
}/* } for all fonts in project */


@theme {
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
}